/*_________________________ M E D I A   Q U E R I E S _________________________*/
@media only screen and (max-width: 320px) {
    .block{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .textbox{
        width: 100vw;
        height: auto;
    }
    /*_________________________ H E A D _________________________*/ 
    .head{
        display: none;
    }
    .header-logo {
        align-items: flex-start;
        padding: 13px;
    }
    
    .header-contact {
        margin-top: 10px;
        margin-left:-100px;
    }
    /*_________________________ H E A D _________________________*/ 
    
    /*_________________________ N A V I _________________________*/
    #navi {
        padding: 10px;
        display: flex;
        width: 100vw;
        height: auto;
        flex-direction: column;
    }
    .nav li {
        display: flex;
        text-decoration:none;
        font-size: 18px;
    }
    .nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .searchbox{
        width: 80vw;
        height: auto;
    }
    /*_________________________ N A V I _________________________*/
    
    /*_________________________ B L O 1 _________________________*/
    #block1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: auto;
    }
    #texbox1{
        display: flex;
    }
    #text{
        width: 100vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #361D08;
    }
    #text h1{
        font-size: 8px;
        color: #ffff;
    }
    #text h4{
        font-size: 6px;
        color: #ffff;
    }
    /*_________________________ B L O 1 _________________________*/
    
    /*_________________________ B L O 2 _________________________*/
    #bgi2{
        width: 100%;
        height: auto;
    }
    #block2{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: auto;
    }
    #texbox2{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    #texbox2 h2{
        font-size: 30px;
    }
    #texbox2 h3{
        font-family: sans-serif;
        font-weight: lighter;
    }
    #our-story{
        font-size: 20px;
        width: 50vw;
    }
    /*_________________________ B L O 2 _________________________*/
    
    /*_________________________ B L O 3 _________________________*/
    #block3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    }
    #block3 h2{
    color: #361D08;
    font-size: 40px;
    }
    .food-list{
    padding-top: 50px;
    }
    .food-list ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    margin-bottom: 20px;
    color: #4E3629;
    font-family: sans-serif;
    }
    .food {
    text-align: center;
    background-color: #e6dec7;
    
    }
    .food:hover{
    background-color: #dbd4ab;
    cursor: pointer;
    color: #000000;
    }
    /*_________________________ B L O 3 _________________________*/
    
    /*_________________________ B L O 4 _________________________*/
    #block4{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: auto;
    }
    .five-star-promise ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        font-family: sans-serif;
    }
    .promise-item img{
        width: 80vw;
        height: auto;
    }
    #five-button{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;
        width: 70vw;
        height: 2vh;
    }
    /*_________________________ B L O 4 _________________________*/
    
    /*_________________________ B L O 5 _________________________*/
    #block5{
        display: flex;
        width: 100vw;
        height:auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #bgi3{
        width: 100%;
        height: auto;
    }
    #textbox{
        width: 100vw;
        height: auto;
        background-color: #361d08;
    }
    #text3{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 20px;
        color: #ffff;
    }
    #text3 h2{
        font-size: 35px;
    }
    #text3 p{
        font-size: 24px;
    }
    #findfood{
        font-size: 20px;
        width: 50vw;
    }
    /*_________________________ F O O T _________________________*/
    .footer{
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-content: space-between;
        width: 100vw;
        height: auto;
    }
    .footer-main {
        display: flex;
        justify-content: space-around;
        color: white;
    }
    .footer-social{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-legal{
        width: 100vw;
        height: auto;
    }
    .footer-legal ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .footer-legal a {
        font-size: 12px;
    }
    .footer p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        margin: 25px;
    }
    /*_________________________ F O O T _________________________*/
} 
/* Tablet styles (max-width: 768px) */
@media only screen and (max-width: 768px) {
.block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.textbox{
    width: 100vw;
    height: auto;
}
/*_________________________ H E A D _________________________*/

.head{
    display: none;
}
.header-logo {
    align-items: flex-start;
    padding: 13px;
}

.header-contact {
    margin-top: 10px;
    margin-left:-100px;
}
/*_________________________ H E A D _________________________*/ 

/*_________________________ N A V I _________________________*/
#navi {
    padding: 20px;
    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: column;
}
.nav li {
    display: flex;
    text-decoration:none;
    font-size: 18px;
}
.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.searchbox{
    width: 80vw;
    height: auto;
}
/*_________________________ N A V I _________________________*/

/*_________________________ B L O 1 _________________________*/

#block1{
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
}
.bgi1{
    width: 100vw;
    height: auto;
}
#texbox1{
    width: 100vw;
    height: auto;
    background-color: #361D08;
}
#text{
    width: 100%;
    height: auto;
}
#text h1{
    font-size: 30px;
}
#text h4{
    font-size: 20px;
}
/*_________________________ B L O 1 _________________________*/

/*_________________________ B L O 2 _________________________*/
#bgi2{
    width: 80vw;
    height: auto;
}
#block2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
}
#texbox2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#texbox2 h2{
    font-size: 30px;
}
#texbox2 h3{
    font-family: sans-serif;
    font-weight: lighter;
}
/*_________________________ B L O 2 _________________________*/

/*_________________________ B L O 3 _________________________*/
#block3{
display: flex;
align-items: center;
justify-content: center;
width: 100vw;
height: auto;
}
#block3 h2{
color: #361D08;
font-size: 40px;
}
.food-list{
padding-top: 50px;
}
.food-list ul {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
width: 100vw;
height: auto;
margin-bottom: 20px;
color: #4E3629;
font-family: sans-serif;
}
.food {
text-align: center;
background-color: #e6dec7;

}
.food:hover{
background-color: #dbd4ab;
cursor: pointer;
color: #000000;
}
/*_________________________ B L O 3 _________________________*/

/*_________________________ B L O 4 _________________________*/
#block4{
display: flex;
align-items: center;
justify-content: center;
width: 100vw;
height: auto;
}

.five-star-promise ul {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
margin-bottom: 20px;
}
/*_________________________ B L O 4 _________________________*/

/*_________________________ B L O 5 _________________________*/
#block5{
    display: flex;
    width: 100vw;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bgi3{
    width: 100%;
    height: auto;
}
#textbox{
    width: 100vw;
    height: auto;
    background-color: #361d08;
}
#text3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
    color: #ffff;
}
#text3 h2{
    font-size: 35px;
}
#text3 p{
    font-size: 24px;
}
#findfood{
    font-size: 20px;
    width: 50vw;
}

/*_________________________ F O O T _________________________*/
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
}
.footer-main {
    flex-direction: column;
    justify-content: center;
    align-items: center ;

}
.footer-legal ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*_________________________ F O O T _________________________*/
}

@media only screen and (max-width: 1200px) {
    .block{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .textbox{
        width: 100vw;
        height: auto;
    }
    /*_________________________ H E A D _________________________*/
    
    .head{
        display: none;
    }
    .header-logo {
        align-items: flex-start;
        padding: 13px;
    }
    
    .header-contact {
        margin-top: 10px;
        margin-left:-100px;
    }
    /*_________________________ H E A D _________________________*/ 
    
    /*_________________________ N A V I _________________________*/
    #navi {
        padding: 20px;
        display: flex;
        width: 100vw;
        height: auto;
        flex-direction: column;
    }
    .nav li {
        display: flex;
        text-decoration:none;
        font-size: 18px;
    }
    .nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .searchbox{
        width: 70vw;
        height: 5vh;
    }
    #seicon{
        /* margin-right: 90px; */
        float: right;
        position: absolute;
        right: 12vw;
        padding-top: 1.5vh;
    }
    /*_________________________ N A V I _________________________*/
    
    /*_________________________ B L O 1 _________________________*/
    #block1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: auto;
    }
    #bgi1{
        width: 100%;
        height: auto;
        z-index: 0;
    }
    #texbox1{
        width: 100vw;
        height: auto;
        background-color: #361d08;
        margin-left: auto ;
        opacity: 0.8;
        color: #ffff;
        z-index: 1;
    }
    #text{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        color: #ffff;
        margin-left: 0;
        z-index: 2;
        justify-content: center;
        align-items: center;
    }
    #text h1{
        font-size: 56px;
    }
    #text h4{
        font-size: 24px;
    }
    #more-button{
        font-size: 18px;
    }
    /*_________________________ B L O 1 _________________________*/
    
    /*_________________________ B L O 2 _________________________*/
    #bgi2{
        scale: 0.8;
    }
    #block2{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: auto;
    }
    #texbox2{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    #texbox2 h2{
        font-size: 30px;
    }
    #texbox2 h3{
        font-family: sans-serif;
        font-weight: lighter;
    }
    #our-story{
        font-size: 20px;
        width: 50vw;
    }
    /*_________________________ B L O 2 _________________________*/
    
    /*_________________________ B L O 3 _________________________*/
    #block3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    }
    #block3 h2{
    color: #361D08;
    font-size: 40px;
    }
    .food-list{
    padding-top: 50px;
    }
    .food-list ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    margin-bottom: 20px;
    color: #4E3629;
    font-family: sans-serif;
    }
    .food {
    text-align: center;
    background-color: #e6dec7;
    }
    .food:hover{
    background-color: #dbd4ab;
    cursor: pointer;
    color: #000000;
    }
    /*_________________________ B L O 3 _________________________*/
    
    /*_________________________ B L O 4 _________________________*/
    #block4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    }
    .five-star-promise ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    }
    /*_________________________ B L O 4 _________________________*/
    
    /*_________________________ B L O 5 _________________________*/
    #block5{
        width: 100vw;
        height:auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #bgi3{
        scale: 1;
    }
    #texbox3{
        width: 100vw;
        height: auto;
        background-color: #361d08;
    }
    #text3{
        display: flex;
        color: #ffff;
    }
    #text3 h2{
        font-size: 40px;
    }
    #text3 p{
        font-size: 24px;
    }
    #findfood{
        font-size: 20px;
        width: 40vw;
    }
    /*_________________________ F O O T _________________________*/
    .footer{
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-content: space-between;
        width: 100vw;
        height: auto;
    }
    .footer-main {
        display: flex;
        justify-content: space-around;
        color: white;
    }
    .footer-social{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-legal{
        width: 100vw;
        height: auto;
    }
    .footer-legal ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .footer-legal a {
        font-size: 12px;
    }
    .footer p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        margin: 25px;
    }
    /*_________________________ F O O T _________________________*/
}